

.navbar {
  background-color: #0f172a !important;
}


.navbar-toggler-icon{
    background-image: url('../../assets/Images/menu.png') !important;
    height: 20px;
    width: 20px;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}