

.homepage-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-filter-container {
  width: 20%;
  height: 100vh;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.114);
}

.filter-container {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

hr {
  margin: 0;
}

.low-high,
.high-low {
  margin-top: 0.3rem;
  display: flex;
  /* justify-content: space-between; */
  gap: 4px;
  align-items: center;
}

.category-container,
.sort-container {
  margin-top: 1rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  gap: 0.5rem;
}

.all,
.men,
.women,
.jewelery,
.electronics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.cards-container {
  width: calc(100vw - 17%);
  /* border: 1px solid red; */
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}
